<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../../src/modules/header.ejs') %>
  </head>
  <body>
    <div class="main">
      <h1 style="margin-top: 10vh;">아직 페이지가 제작되지 않았습니다.</h1>
    </div>
  </body>
</html>