<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../../src/modules/header.ejs') %>
  </head>
  <body>
    <%- include('../../src/modules/nav.ejs') %>
    <div class="main">
      <h1>음악퀴즈 점수</h1>
      <h2>OOO : 100점</h2>
      <br>
      <h1>O/X퀴즈 점수</h1>
      <h2>OOO : 100점</h2>
    </div>
  </body>
</html>