<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../../../src/modules/header.ejs') %>
    <%- include('../../../src/modules/socket.ejs') %>
  </head>
  <body>
    <%- include('../../../src/modules/nav.ejs') %>
    <div class="main">
      <p><%- data.roomid %>방 입성</p>
    </div>
  </body>
</html>