<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../../../src/modules/header.ejs') %>
    <%- include('../../../src/modules/socket_room.ejs') %>
  </head>
  <body>
    <%- include('../../../src/modules/nav.ejs') %>
    <div class="main">
      <div class="members"></div>
    </div>
  </body>
</html>